@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Roboto&display=swap');
body {
  margin: 0;
  padding: 0;
   background: #39A1AE;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  font-size: 1.4rem;
  background: #39A1AE;
  border: none;
  color: white;
  padding: 1.2rem;
  border-radius: 1.2rem;
  margin: 1.2rem;

}
.btn:hover{
  cursor: pointer;
}

