@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


body {
  margin: 0;
  padding: 1.4vw;
   background: #39A1AE;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  font-size: 1.4rem;
  background: #39A1AE;
  border: none;
  color: white;
  padding: 1.2rem;
  border-radius: 1.2rem;
  margin: 1.2rem;

}
.btn:hover{
  cursor: pointer;
}
h1{
font-family: 'Merienda', cursive;
}
h2{
font-family: 'Merienda', cursive;
}
h3{
font-family: 'Merienda', cursive;
}
h4{
font-family: 'Merienda', cursive;
}
h5{
  font-family: 'Merienda', cursive;
}
h6{
font-family: 'Merienda', cursive;
}

/* .leaflet-container {
  width: 100vw; 
  height: 100vh;
} */
